<ion-view title="Carte">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
	          <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
                visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable"></ui-gmap-circle>
	
        <ui-gmap-marker ng-repeat="m in markers" coords="m" icon="m.icon" click="" idKey="m.id" options="">
            <ui-gmap-window ng-cloak  coords="map.infoWindowWithCustomClass.coords">
                    {{m.type}} : {{m.nom}}
            </ui-gmap-window>
        </ui-gmap-marker>
	
	
	</ui-gmap-google-map>
	
	<div class="card infos">
	  <div class="item item-text-wrap">
	    <marquee>{{text}}</marquee>
	  </div>
	</div>
  </ion-content>
</ion-view>
